/* 基本スタイル */
body {
    font-family: 'Noto Serif CJK', sans-serif;
    /* ベースとなるフォント */
    margin: 0;
    padding: 0;
    color: #333;
    /* テキストの基本色 */
    line-height: 1.6;
    background-color: #f5f5f5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
    color: #444;
    /* 見出しの色 */
}

a {
    color: #1a73e8;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

/* ナビゲーション */
nav {
    background-color: #333;
    padding: 1rem 0;
    font-size: 1.1rem;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-right: 1rem;
}

nav ul li:last-child {
    margin-right: 0;
}

nav a {
    color: #fff;
    padding: 0.25rem 0.5rem;
}

nav a:hover {
    background-color: #666;
    border-radius: 3px;
}

/* ヘッダー */
header {
    background-image: url('https://source.unsplash.com/random/1920x1080');
    /* 一時的なフリー素材のリンク */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    /* 高さを画面の80％に設定 */
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header h1 {
    font-size: 3rem;
    color: #fff;
    margin-bottom: 0.5rem;
}

header p {
    font-size: 1.25rem;
    color: #fff;
}

/* 経歴セクション */
.bio {
    background-color: #fff;
    padding: 2rem 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.bio h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center;
}

.bio p {
    font-size: 1.2rem;
}

/* スキルセクション */
.skills {
    padding: 2rem 0;
}

.skills h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center;
}

.skills ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 0;
    padding: 0;
}

.skills li {
    font-size: 1.2rem;
}

/* フッター */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    font-size: 1rem;
}

footer a {
    color: #fff;
}

footer a:hover {
    text-decoration:
        underline;
}

/* レスポンシブデザイン */
@media (max-width: 768px) {
    nav ul {
        display: block;
    }

    nav ul li {
        text-align: center;
        margin-bottom: 1rem;
    }

    nav ul li:last-child {
        margin-bottom: 0;
    }

    .skills ul {
        flex-wrap: wrap;
    }

    .skills li {
        flex: 1 0 50%;
        text-align: center;
        margin-bottom: 1rem;
    }
}